@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --primary-color: #647890;
  --secondary-color: #31496a;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --font-albert: var(--font-albert);
  --font-breathing: var(--font-breathing);
  --font-catchy: var(--font-catchy);
}

body {
  background: var(--background);
  color: var(--primary-color);
}
